<!-- Este es un fichero que nos permite configurar los logs en nuestro proyecto -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH🇲🇲ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender para archivo -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>salidaLog.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH🇲🇲ss} - [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <!-- Política de rotación del archivo de log -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>salidaLog-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <!--    <logger name="com.psp.tema5.ejemploRest" level="INFO" />-->
    <!--    <logger name="com.psp.tema5.ejemploRest" level="DEBUG" />-->

    <logger name="com.tfg.supercomparator" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>